

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.home {
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .banner {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-row-gap: 0rem;
    /* filter: none; */
    -webkit-text-fill-color: inherit;
    background-image: linear-gradient(
        to top,
        #000,
        rgba(0, 0, 0, 0.66) 16%,
        rgba(0, 0, 0, 0) 41%
      ),
      url(../src/assets/img/home/banner\ 2.jpg);
    background-position: 0 0, 60% 50%;
    background-size: auto, cover;
    background-clip: border-box;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 5%;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .banner .navlist {
    color: var(--white);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    transition: color 0.4s, transform 0.4s;
    padding-top: -3rem;
  }

  .banner .navlist li a:hover {
    transform: translateY(-5px);
    color: rgb(255, 255, 255);
  }

  .banner .navlist li a {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    mix-blend-mode: difference;
    color: #ebebeba4;
    text-decoration: none;
    background-color: transparent;
    margin-top: -20rem;
  }

  .banner h1 {
    text-align: center;
    margin-top: 13rem;
    mix-blend-mode: normal;
    color: #77634f;
    color: white;
    letter-spacing: 18px;
    font-size: 6vh;
    font-weight: 500;
  }

  .navlist {
    display: none;
    padding-top: 3rem;
  }
  .main-text{
    /* text-align: center;
    font-size: 1.2rem;
    margin-top: 3rem;
    color: #77634f;
    color: white;
    letter-spacing: 18px;
    font-size: 16vh;
    font-weight: 500; */

    .home-text{
      font-size: 20px;
    }
  }



/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.navlist{
    display: flex;
    justify-content: space-between;
}
.banner h1{
  font-size: 5rem;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
 .banner h1{
  font-size: 7rem;
}   
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
